[Unit]
Description=Gunicorn process to serve web_dynamic/2-hbnb.py
After=network.target gunicorn_api.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4/
EnvironmentFile=/home/ubuntu/.env
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5003 --workers 3 --access-logfile /tmp/airbnb-access.log --error-logfile /tmp/airbnb-error.log web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
